#include "Shared.xcconfig"

VIA_API_SCHEME = http:
VIA_API_BASE_URL = $(VIA_API_SCHEME)$(VIA_URL_SLASH)$(VIA_URL_SLASH)localhost:3010/api
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG VIA_LOCAL_API
INFOPLIST_KEY_NSAppTransportSecurity_NSAllowsLocalNetworking = YES
ENABLE_DEBUG_DYLIB = YES
